.register-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.register-left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.register-logo {
  width: 150px;
  margin-bottom: 20px;
}

.register-form input {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.create-btn {
  background-color: #4da7db;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-weight: bold;
}

.login-link {
  margin-top: 20px;
  font-size: 0.9rem;
}

.register-right {
  flex: 1;
  background-color: #4da7db;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-right img {
  width: 100%;
  max-width: 500px;
}
