/* CategoryBox.css */
.category-box {
  width: 100px;
  height: 130px; /* fixed height to allow spacing */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* push text to bottom */
  align-items: center;
  text-align: center;
  border: 1px solid #e93838;
  border-radius: 10px;
  padding: 16px;
  background-color: white;
  transition: box-shadow 0.2s ease;
}

.category-box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.category-icon {
  width: 40px;
  height : 40px;
  margin-bottom: 08px;
  object-fit: contain; /* ensures the icon fits well */
}

.category-label {
  font-size: 0.9rem;
  color: #333;
}
.BaseFont{
  font-family: 'Arial', sans-serif;
  
}
.category-heading {
  border-left: 5px solid red; /* or 1px if you prefer */
  padding-left: 10px;         /* space between text and border */
  margin-bottom: 1rem;        /* optional spacing */
}
